{% include "dashboard/header.html" %}
{% load static %}
{% load tags_custom_dashboard %}

<div class="row">
	<div class="col">
        <h1>Dashboard</h1>
		<h2>Available Corpora:</h2>
        <div class="row">
        {% for key, settings in corpora.items %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card card_corpus" data-key="{{ key }}">
                    <h3 class="card-header">
                        <span>{{ settings.name }}</span>
                        {{ settings.viewer__state_loaded|get_html_state_loaded|safe }}
                    </h3>                
                    <div class="card-block">
                        <p class="card-text">
                            {{ settings.description|safe }}
                        </p>
                    </div>
                    <!-- <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% csrf_token %}

<script src="{% static 'viewer/js/jquery-3.1.1.min.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->

<script src="{% static 'viewer/js/tether.js' %}"></script>
<script src="{% static 'viewer/js/bootstrap.js' %}"></script>
<script src="{% static 'dashboard/js/index.js' %}"></script>
{% include "viewer/footer.html" %}
