{% include "viewer/header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/formats.css' %}">

{% load tags_custom_dashboard %}

<div class="row">
	<div class="col">
        <h1>Dashboard</h1>
		<h2>Available Corpora: <button type="button" id="submit_refresh_corpora" class="btn btn-secondary btn-sm"><i class="fa fa-refresh"></i></button></h2>
	</div>
</div>
<div class="row" id="wrapper_corpora">
</div>
{% csrf_token %}

<script src="{% static 'viewer/js/jquery-3.1.1.min.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->

<!-- <script src="{% static 'viewer/js/tether.js' %}"></script> -->
<script src="{% static 'viewer/js/popper.js' %}"></script>
<script src="{% static 'viewer/js/bootstrap.js' %}"></script>
<script src="{% static 'dashboard/js/index.js' %}"></script>
{% include "viewer/footer.html" %}
