        </div>
		<script type="text/javascript">
		    $(document).on('click', '#input_toggle_dark_mode', function(event) {
		    	event.preventDefault()
		    	event.stopPropagation();
		    	const elem_checkbox = $(this).find('input');
		    	if(elem_checkbox.prop('checked'))
		    	{
		    		elem_checkbox.prop('checked', false);
		            $('body').removeClass('dark');
		    	} else {
		    		elem_checkbox.prop('checked', true);
		            $('body').addClass('dark');
		    	}
		        set_session_entry('dark_mode', elem_checkbox.prop('checked'));
		    });
		</script>
    </body>
</html>