    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'dashboard:index' %}">Corpus Viewer</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{% url 'viewer:documentation' %}">Documentation</a>
                    <a class="nav-item nav-link" href="{% url 'dashboard:index' %}">Dashboard</a>
                    <a class="nav-item nav-link" href="{% url 'viewer:index' %}">Viewer</a>
                </div>
            </div>
        </div>
    </nav>