{% include "viewer/header.html" %}
{% load tags_custom %}
{% load staticfiles %}
<div class="row">
	<div class="col">
		<h1>Viewer</h1>
        <div id="json_url_params" data-json_url_params="{{ json_url_params }}" style="display: none"></div>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
        <div id="wrapper_loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-2">
		<div class="row">
			<div class="col">
				<span id="info_number_of_items" class="text-muted">&nbsp;</span>
			</div>
		</div>
        <!-- PAGINATOR -->
		<div class="row">
			<div class="col">
				<nav class="btn-toolbar" id="info_paginator">
					<div class="btn-group btn-group-sm mr-2">
					    <button type="button" class="btn btn-secondary" data-target='first' data-direction="left" disabled><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
					    <button type="button" class="btn btn-secondary" data-target='previous' data-direction="left" disabled><i class="fa fa-backward" aria-hidden="true"></i></button>
				  	</div>
				  	<div class="input-group input-group-sm">
					    <input type="number" class="form-control" id="input_page" placeholder="page" aria-describedby="btnGroupAddon">
				  	</div>
					<div class="btn-group btn-group-sm ml-2">
					    <button type="button" class="btn btn-secondary" data-target='next' data-direction="right" disabled><i class="fa fa-forward" aria-hidden="true"></i></button>
					    <button type="button" class="btn btn-secondary" data-target='last' data-direction="right" disabled><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
				  	</div>
				</nav>
			</div>
		</div>
        <hr>
        <!-- FILTERS -->
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-header py-1 px-2">
                        <a data-toggle="collapse" href="#div_filters" class="text-muted">Filters</a>
                        <a href="#" id="reset_filters" class="float-right">Reset Filters</a>
                    </div>
                    <div class="collapse {% if request.session.viewer__is_collapsed_div_filters == False %}show{% endif %}" id="div_filters">
                        <div class="card-block py-1 px-2">
                            <div class="form-group" style="display: relative">
                                <label for="input_name_tags">Filter by Tag(s)</label>
                                <input name="tag" type="text" id="input_name_tags" class="form-control form-control-sm" placeholder="Enter Tag-Name(s)" value="">
                                <div id="wrapper_tag_recommendations" class="wrapper_recommendation" style="display: none"></div>
                            </div>
                        {% for filter in settings.filters %}
                            {% if filter.type == 'checkbox' %}
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input name="{{ filter.data_field_name  }}" id="input_{{ filter.data_field_name  }}" type="checkbox" class="form-check-input" {{ filter.default_value }}²>
                                        {{ filter.description }}
                                    </label>
                                </div>
                            {% elif filter.type == 'text'%}
                                <div class="form-group">
                                    <label for="input_{{ filter.data_field_name  }}">{{ filter.description }}</label>
                                    <input name="{{ filter.data_field_name  }}" type="text" id="input_{{ filter.data_field_name  }}" class="form-control form-control-sm" placeholder="{{ filter.placeholder }}" value="{{ filter.default_value }}">
                                </div>
                            {% endif %}
                        {% endfor %}
                        <fieldset>
                            <legend>Show/Hide Columns</legend>
                            <div class="form-check mb-0">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input input_toggle_columns" data-column="viewer__item_selection" {% if "viewer__item_selection" in request.session.viewer__viewer__columns %}checked{% endif %}>
                                    Item Selection
                                </label>
                            </div>
                            {% for field in settings.displayed_fields %}
                                {% if not field == "viewer__item_selection" and not field == "viewer__tags" %}
                                <div class="form-check mb-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input input_toggle_columns" data-column="{{ field }}" {% if field in request.session.viewer__viewer__columns %}checked{% endif %}>
                                        {{ field|get_display_name:settings }}
                                    </label>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-check mb-0">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input input_toggle_columns" data-column="viewer__tags" {% if "viewer__tags" in request.session.viewer__viewer__columns %}checked{% endif %}>
                                    Tags
                                </label>
                            </div>
                        </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TAGS -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header py-1 px-2">
                        <a data-toggle="collapse" href="#div_tags" class="text-muted">Tags</a>
                        <a href="{% url 'viewer:tags' %}" id="view_tags" class="float-right">View Tags</a>
                    </div>
                    <div class="collapse {% if request.session.viewer__is_collapsed_div_tags == False %}show{% endif %}" id="div_tags">
                        <div class="card-block py-1 px-2">
                            <div class="mb-2" id="info_selected_items"><span>0</span> item(s) selected <a id="link_deselect_all_items" href="">deselect all</a></div>
                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_add_tag">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Tag
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="col">
        <div class="row">
            <div class="col" id="table_entities">
                <div class="content"></div>
            </div>
        </div>
	</div>
</div>

<!-- MODAL ADD TAG -->
<div class="modal fade" id="modal_add_tag">
    <div class="modal-dialog" role="document">
        <form id="form_add_tag">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Tag</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        Tag will be added to <span id="info_count_selected_items"></span> item(s).
                    </div>
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input id="input_add_to_all_filtered_items" type="checkbox" class="form-check-input">
                            Add tag to all filtered items
                        </label>
                    </div>
                    <div class="form-group" style="position: relative">
                        <label for="input_name_new_tag">Name</label>
                        <input name="tag" type="text" id="input_name_new_tag" class="form-control" placeholder="Enter Tag-Name" value="">
                        <div id="wrapper_tag_recommendations" class="wrapper_recommendation" style="display: none"></div>
                    </div>
                    <div class="form-group">
                        <label for="input_color_tag">Color</label>
                        <input name="color" id="input_color_tag" type="color" class="form-control" placeholder="Enter new tag" value="#000000">
                    </div>
                    <div class="alert_wrapper">
                        <div class="alert alert-warning custom_alert" role="alert"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submit_add_tag">Add Tag</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div style="display:none" id="data_page" data-urlparams="{{ session_json }}"></div>
{% csrf_token %}

<script src="{% static 'viewer/js/jquery-3.1.1.min.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->

<script src="{% static 'viewer/js/tether.js' %}"></script>
<script src="{% static 'viewer/js/bootstrap.js' %}"></script>
<script src="{% static 'viewer/js/index_functions.js' %}"></script>
<script src="{% static 'viewer/js/index.js' %}"></script>
{% include "viewer/footer.html" %}
