{% load tags_custom %}
<table class="table table-sm">
    <thead>
        <tr>
            <th class="column_viewer__item_selection"><input id="select_all_items" type="checkbox"></th>
            {% for field in settings.displayed_fields %}
                {% if not field == "viewer__item_selection" %}
                <th class="column_{{ field }}" style="{% if not field in request.session.viewer__viewer__columns %}display: none{% endif %}">{{ field|get_display_name:settings }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td class="column_viewer__item_selection">
                <input data-tweet_id="{{item.id}}" type="checkbox">
            </td>
            {% for field in settings.displayed_fields %}
                {% if not field == "viewer__item_selection" %}
                <td class="column_{{ field }}" style="{% if not field in request.session.viewer__viewer__columns %}display: none{% endif %}">{{ item|get:field }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
