{% include "viewer/header.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'viewer/css/formats_dark.css' %}">

{% load tags_custom %}
{% csrf_token %}
<div class="row">
    <div class="col">
        <table class="table table-sm table-striped" id="table_tags">
            <thead>
                <tr>
                    <th class="column_tag_name">Name</th>
                    <th class="column_tag_color">Color</th>
                    <th class="column_tag_count_items">Count items</th>
                    <th class="column_tag_add_items">Action</th>
                    <th class="column_tag_filty_by">Filter by this tag</th>
                    <th class="column_tag_delete" class="td_delete_tag">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr data-id_tag="{{ tag.id }}" data-tag_name="{{ tag.name }}">
                    <td class="column_tag_name" data-original_value="{{ tag.name }}">{{ tag.name }}</td>
                    <td class="column_tag_color" data-original_value="{{ tag.color }}">
                        <input name="color" type="color" value="{{ tag.color }}">
                    </td>
                    <td class="column_tag_count_items">
                        {% if data_type == 'database' %}
                            {% get_count_items tag as count_items %}
                            {{ count_items }}
                        {% else %}
                            {{ tag.m2m_entity.all.count }}
                        {% endif %}
                    </td>
                    <td class="column_tag_add_items">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_add_items">Add items</button>
                    </td>
                    <td class="column_tag_filty_by">
                        <a href="{% url 'viewer:index' id_corpus %}?viewer__filter_tags=[&quot;{{ tag.name }}&quot;]"><i class="fa fa-share" aria-hidden="true"></i></a>
                    </td>
                    <td class="column_delete_tag">
                        <i class="fa fa-times text-danger" style="cursor:pointer" aria-hidden="true"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- MODAL ADD ITEMS -->
<div class="modal fade" data-id_tag="" id="modal_add_items" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add items</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input_list_items">List of item IDs</label>
                    <input type="text" id="input_list_items" class="form-control" placeholder="Paste your IDs here">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Separate your IDs by whitespaces (example: 0 1 2 3 4).
                    </small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="submit_add_items" class="btn btn-primary">Add items</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL IMPORT TAGS -->
<div class="modal fade" data-id_tag="" id="modal_import_tags" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Import tags</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <!-- <label>
                        Path
                        <input type="text" name="path" value="exported_tags/tags_exported_1488036909.ldjson" class="form-control">
                    </label> -->

                    <div class="form-row form-group">
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">File</span>
                            </div>
                            <label class="custom-file">
                                <input type="file" name="file" class="custom-file-input">
                                <span class="custom-file-label"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="import_tags($('#modal_import_tags'))">Import tags</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- MODAL EXPORT TAGS -->
<div class="modal fade" data-id_tag="" id="modal_export_tags" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Export tags</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <!-- <div class="modal-body">
                    <label>
                        Path
                        <input type="text" name="path" value="./exported_tags" class="form-control">
                    </label>
                </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="export_tags($('#modal_export_tags'))">Export tags</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- MODAL DELETE TAGS -->
<div class="modal fade" data-id_tag="" id="modal_delete_tag" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete tag</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        Do you want to delete the tag '<span></span>'?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="delete_tag($('#modal_delete_tag'))">Delete tag</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- MODAL MERGE TAGS -->
<div class="modal fade" data-tag_id="" data-existing_tag="" id="modal_merge_tags" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Merge tags</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        Tag '<span></span>' already exists.
                    </p>
                    <p>
                        Do you want to merge tag '<span></span>' into tag '<span></span>'?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="merge_tags($('#modal_merge_tags'))">Merge tags</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'viewer/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'viewer/js/popper.js' %}"></script>
<script src="{% static 'viewer/js/bootstrap.min.js' %}"></script>
<script src="{% static 'viewer/js/helper_functions.js' %}"></script>
<script src="{% static 'viewer/js/tags.js' %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'viewer/css/formats.css' %}" /> -->
{% include "viewer/footer.html" %}