html {
  overflow-y: scroll;
}
.modal-open {
    padding-right: 0 !important
}

/*#wrapper_loading {
    position: absolute;
    height: 50vh;
    width: 100%;
}*/
    /*#wrapper_loading i {
        text-align: center;
        position: absolute;
        left: calc(50%-1000px);
        top: calc(50%);
    }*/

.alert.custom_alert {
	display: none;
	padding: 3px;
	text-align: center;
}

.tag_marker {
    float: left;
    width: 1rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    border: 1px solid grey;
}